{% extends 'base.html' %}
{% block title %} Elon Quantitative Research {% endblock %}

{% block content %}
    <section class="row first__section">
        <img class="responsive-img first__section__background-img" src="static/images/background_home.png" alt="">

        <div class="row first__section__message">
            <h2 class="text-flow first__section__message-title">Elon Quantitative Research</h2>

            <p class="text-flow first__section__message-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse eu</p>

            <a href="#"><input class="first__section__message-button z-depth-3" type="button" value="CONTRATE AGORA"></a>
        </div>
    </section>

    <section class="row second__section">
        <div class="col s3 red second__section__container"></div>
        <div class="col s3 green second__section__container"></div>
        <div class="col s3 blue second__section__container"></div>
        <div class="col s3 black second__section__container"></div>
    </section>
{% endblock %}