{% extends 'base.html' %}
{% block title %} Elon Quantitative Research {% endblock %}

{% block content %}
    <section class="row first__section">
        <img class="responsive-img first__section__background-img" src="static/images/background_home.png" alt="">

        <div class="first__section__message">
            <h2 class="text-flow first__section__message-title">Elon Quantitative Research</h2>

            <p class="text-flow first__section__message-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, suspendisse eu!</p>

            <a href="#"><input class="first__section__message-button z-depth-3" type="button" value="CONTRATE AGORA"></a>
        </div>
    </section>

    <section class="row second__section">
        <div class="col s3 second__section__container">
            <h3 class="second__section__container-title">Empresa</h3>
            <i class="far fa-building second__section__container-icon"></i>
            <p class="text-flow second__section__container-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit phasellus cursus.</p>
        </div>

        <div class="col s3 second__section__container">
            <h3 class="second__section__container-title">Atendimento</h3>
            <i class="fas fa-assistive-listening-systems second__section__container-icon"></i>
            <p class="text-flow second__section__container-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit phasellus cursus.</p>
        </div>

        <div class="col s3 second__section__container">
            <h3 class="second__section__container-title">Serviços</h3>
            <i class="fas fa-tools second__section__container-icon"></i>
            <p class="text-flow second__section__container-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit phasellus cursus..</p>
        </div>

        <div class="col s3 second__section__container">
            <h3 class="second__section__container-title">Preços</h3>
            <i class="fas fa-chart-line second__section__container-icon"></i>
            <p class="text-flow second__section__container-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit phasellus cursus.</p>
        </div>
    </section>

    <section class="row third__section">
        <div class="col s6 third__section__container">
            <img class="responsive-img circle third__section__container-img" src="static/images/women_business.png" alt="">
        </div>

        <div class="col s6 third__section__container">
            <h2 class="third__section__container-title">Nossos Serviços</h2>
            <p class="third__section__container-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, donec eleifend tristique lorem sit amet vehicula.</p>
            <input class="z-depth-2 third__section__container-button" type="button" value="VER SERVIÇOS">
        </div>
    </section>
{% endblock %}