{% load static %}   
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock%}</title>

    <!-- MATERIALIZE CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <link rel="stylesheet" href="{% static 'css/style.css'%}">
</head>
<body>
    <header class="row header">
        <div class="col s4 container__header__logo">
            <img class="container__header__logo-img responsive-img" src="{% static 'images/logo.png' %}" alt="logo site">
        </div>

        <div class="col s8 container__header__menu">
            <ul class="container__header__menu-list">
                <a href="#"><li class="container__header__menu-list__item">Blog</li></a>
                <a href="#"><li class="container__header__menu-list__item">Produtos</li></a>
                <a href="#"><li class="container__header__menu-list__item">Planos</li></a>
                <a href="#"><li class="container__header__menu-list__item">Serviços</li></a>
                <a href="#"><li class="container__header__menu-list__item">Contato</li></a>
            </ul>
        </div>
    </header>

    {% block content %}
    {% endblock %}

    <footer class="footer">
    </footer>
</body>
</html>