::-webkit-scrollbar{
    width: 12px;
}
::-webkit-scrollbar-thumb{
    background-color: #bbb;
    border-radius: 10px;
}
::-webkit-scrollbar-track{
    background-color: transparent;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    list-style: none;
    color: #000;
    text-decoration: none;
}

body{
    overflow-x: hidden;
}

/* HEADER */

.header{
    height: 100px;
    display: flex;
    align-items: center;
    background-color: rgb(157, 215, 235);
    margin: 0;
}

.container__header__logo{
    display: flex;
    justify-content: center;
}

.container__header__logo-img{
    width: 120px;
    object-fit: cover;
    cursor: pointer;
}

.container__header__menu{
    display: flex;
    justify-content: center;
}

.container__header__menu-list{
    display: flex;
}
.container__header__menu-list__item{
    padding: 0px 20px;
    font-size: 1.15rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    transition: 0.15s ease-in-out transform;
}

.container__header__menu-list__item:hover{
    transform: scale(1.03);
}

.container__header__menu-list__item-icon{
    transform: translate(-14px, 8px);
}

/* CONTEÚDO */
.first__section{
    overflow-x: hidden;
    position: relative;
}

.first__section__background-img{
    width: 100vw;
}

.first__section__message{
    position: absolute;
    top: 15%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    left: 10%;
}

.first__section__message-title{
    font-size: 2.8rem;
}

.first__section__message-description{
    font-size: 1.2rem;
    width: 400px;
    padding-left: 4px;
}

.first__section__message-button{
    background-color: #0a7730;
    color: #eee;
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
    margin-top: 50px;
    text-align: center;
    font-size: 1.5rem;
    width: 80%;
    align-self: center;
    cursor: pointer;
    transition: 0.2s ease-in-out background-color;
}

.first__section__message-button:hover{
    background-color: #0a6b2d;
}

.second__section{
    margin: 40px 0px 0px 0px;
}

.second__section__container{
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.second__section__container-title{
    font-size: 1.8rem;
    margin-bottom: 20px;
    font-family: 'Lato', sans-serif;
}

.second__section__container-icon{
    font-size: 2rem;
    margin-bottom: 20px;
}

.second__section__container-description{
    text-align: center;
    font-size: 1.1rem;
    font-family: 'Lato', sans-serif;
}

.third__section{
    height: 400px;
    display:flex;
    overflow-x: hidden;
    background: linear-gradient(#eee 30%, #ddd 70%);
    padding: 40px 0px;
}

.third__section__container{
    display: flex;
    flex-direction: column;
}

.third__section__container-img{
    width: 450px;
    align-self: center;
}
.third__section__container-title{
    font-size: 2.8rem;
    padding-left: 70px;
}

.third__section__container-description{
    font-size: 1.2rem;
    width: 600px;
    padding-left: 4px;
    padding-left: 70px;
}

.third__section__container-button{
    background-color: #0a7730;
    color: #eee;
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
    margin: 50px 0px 0px 70px;
    text-align: center;
    font-size: 1.3rem;
    width: 50%;
    cursor: pointer;
    transition: 0.2s ease-in-out background-color;
}

.third__section__container-button:hover{
    background-color: #0a6b2d;
}

/* RODAPÉ */
.footer{
    background-color: #3D3D3D;
    height: auto;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.container__footer{
    display: flex;
    justify-content: space-around;
    padding: 60px 0px;
}

.container__footer__div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container__footer__logo{
    width: 300px;
    object-fit: cover;
} 

.container__footer__text{
    color: #eee;
    font-size: 1.2rem;
}

.container__footer__list-title{
    color: #eee;
    font-size: 2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container__footer__list-item{
    color: #eee;
    font-size: 1.1rem;
    padding-left: 4px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#structure-rodape{
    background-color: #2d2d2d;
    padding: 0px 0px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container__footer__icon{
    color: #fff;
    font-size: 1.6rem;
    padding-right: 20px;
}

.container__footer__icon-text{
    color: #fff;
}